<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Flow_Solver_Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Flow_Solver_Server.Properties.Settings>
            <setting name="FIRST_INITIALIZE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MY_SQL_USERNAME" serializeAs="String">
                <value />
            </setting>
            <setting name="MY_SQL_PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="DEFAULT_INTERFACE_LANGUAGE" serializeAs="String">
                <value>SPANISH</value>
            </setting>
            <setting name="MY_SQL_HOSTNAME" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="DEFAULT_SCHEMA" serializeAs="String">
                <value>flow_solver</value>
            </setting>
        </Flow_Solver_Server.Properties.Settings>
    </userSettings>
</configuration>