<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RIT_Solver.WebCEFSharp_Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="RIT_Solver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <RIT_Solver.WebCEFSharp_Config>
      <setting name="CEFDATA_BORRAR_DATOS_AUTOMATICAMENTE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CEFDATA_SEMANAS_PARA_BORRAR" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CEFDATA_ULTIMO_BORRADO_DE_CACHE" serializeAs="String">
        <value />
      </setting>
      <setting name="CEFDATA_PROXIMO_BORRADO" serializeAs="String">
        <value />
      </setting>
      <setting name="CEFDATA_DEFAULT_LANGUAGE" serializeAs="String">
        <value>es</value>
      </setting>
      <setting name="WEBVIEW2_DEFAULT_LANGUAGE" serializeAs="String">
        <value>es-ES</value>
      </setting>
    </RIT_Solver.WebCEFSharp_Config>
    <RIT_Solver.Properties.Settings>
      <setting name="EmailUsuarioIDC" serializeAs="String">
        <value />
      </setting>
      <setting name="EmailPasswordIDC" serializeAs="String">
        <value />
      </setting>
      <setting name="NoDeReporte" serializeAs="String">
        <value />
      </setting>
      <setting name="Refacciones" serializeAs="String">
        <value />
      </setting>
      <setting name="NombreIDC" serializeAs="String">
        <value />
      </setting>
      <setting name="LocalidadIDC" serializeAs="String">
        <value />
      </setting>
      <setting name="ProyectoIDC" serializeAs="String">
        <value />
      </setting>
      <setting name="FotoIDCPath" serializeAs="String">
        <value />
      </setting>
      <setting name="Cliente" serializeAs="String">
        <value />
      </setting>
      <setting name="Direccion" serializeAs="String">
        <value />
      </setting>
      <setting name="CentroDeServicios" serializeAs="String">
        <value />
      </setting>
      <setting name="EmailDestinoRefaccionesDefault" serializeAs="String">
        <value />
      </setting>
      <setting name="LiderDeProyecto" serializeAs="String">
        <value />
      </setting>
      <setting name="RITFormPath" serializeAs="String">
        <value />
      </setting>
      <setting name="RITFormPathDestiny" serializeAs="String">
        <value />
      </setting>
      <setting name="FIRST_INITIALIZE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FirmaIDCPath" serializeAs="String">
        <value />
      </setting>
      <setting name="UsuarioDeRedIDC" serializeAs="String">
        <value />
      </setting>
      <setting name="SYS_VERSION" serializeAs="String">
        <value>2.5.2.4</value>
      </setting>
      <setting name="SYS_ASSEMBLY" serializeAs="String">
        <value>24012024gAMMA</value>
      </setting>
      <setting name="SYS_LAST_UPDATE" serializeAs="String">
        <value>G</value>
      </setting>
      <setting name="SERVER_ROUTE" serializeAs="String">
        <value>10.10.129.175</value>
      </setting>
      <setting name="SYSDATA_GUARDARRITENPDF" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EmailDistribuidorToner" serializeAs="String">
        <value>ferromex2@scgenesis.mx</value>
      </setting>
      <setting name="SYSDATA_UPDATES_ACTIVATE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SYSDATA_INVENTORY_PATH" serializeAs="String">
        <value />
      </setting>
      <setting name="SYSDATA_FIRMA_HABILITADA" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SYSDATA_BETA_UPDATES" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SYSDATA_EXAMINAR_TONER_AUTOMATICO" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SYSDATA_TEMA_APLICADO" serializeAs="String">
        <value>RIT Solver Theme (Default)</value>
      </setting>
      <setting name="ActaResponsivaPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SYSDATA_GUARDARRESGUARDOPDF" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FIRST_INITIALIZE_INVENTORY" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SYSDATA_GUARDARSIEMRPEINVENTARIO" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SYSDATA_OPEN_INVENTORY_ALWAYS_MAXIMIZE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RITCounter" serializeAs="String">
        <value>100100</value>
      </setting>
      <setting name="SYSDATA_DESCARGAR_E_INSTALAR_AUTOMATICAMENTE"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SYSDATA_CREAR_PROYECTO_BLANCO_AL_INICIAR" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SYSDATA_RECORDAR_ULTIMA_SESION" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SYSDATA_LOCALIDAD_DEFAULT" serializeAs="String">
        <value />
      </setting>
      <setting name="SYSDATA_URL_FORMS" serializeAs="String">
        <value>https://forms.office.com/Pages/ResponsePage.aspx?id=dNF36JwJkUSX2NZVp8az1BdNDZCBAPJHq77MIGUA38VUN0JXNUxNNkNSNVQxNlZHUDU3MkxHQUJQRS4u</value>
      </setting>
      <setting name="SYSDATA_URL_COMPUSOF" serializeAs="String">
        <value>https://accounts.zoho.com/signin?servicename=SDPOnDemand&amp;hide_title=true&amp;hideyahoosignin=true&amp;hidefbconnect=true&amp;hide_secure=true&amp;serviceurl=https%3A%2F%2Fsd.compusofmexico.com%2Fapp%2Fitdesk%2FHomePage.do&amp;signupurl=https://sd.compusofmexico.com/AccountCreation.do&amp;portal_id=142098036&amp;hide_signup=true</value>
      </setting>
      <setting name="SYSDATA_URL_SERVICEDESK" serializeAs="String">
        <value>https://gmxtsas.mx:8080/HomePage.do?view_type=my_view</value>
      </setting>
      <setting name="SYSDATA_URL_ENDPOINT" serializeAs="String">
        <value>https://endpointcentral.manageengine.com/webclient#/uems/home/smart-advisor</value>
      </setting>
      <setting name="THEME_BACKGROUND_COLOR" serializeAs="String">
        <value />
      </setting>
      <setting name="THEME_SECONDARY_COLOR" serializeAs="String">
        <value />
      </setting>
      <setting name="THEME_TERTIARY_COLOR" serializeAs="String">
        <value />
      </setting>
      <setting name="THEME_FOURSOME_COLOR" serializeAs="String">
        <value />
      </setting>
      <setting name="THEME_TEXT_PRIMARY" serializeAs="String">
        <value />
      </setting>
      <setting name="THEME_TEXT_SECONDARY" serializeAs="String">
        <value />
      </setting>
      <setting name="CAN_CONTINUE_QUEST_INVENTORYPATH" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SYSDATA_AutoSelectRecentSincModel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SYSDATA_HabilitarMetodoDeImpresionSecundarioAutomaticamente"
        serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SYSDATA_MetodoDeImpresionPorDefecto" serializeAs="String">
        <value>WebView2</value>
      </setting>
      <setting name="SYSDATA_ArchivosRITRecientes" serializeAs="String">
        <value />
      </setting>
      <setting name="SYSDATA_DataBasePath" serializeAs="String">
        <value>Publico\rit_solver_server\</value>
      </setting>
    </RIT_Solver.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>